<body>
  {{> header}}

  <main>
    <div style="font-size: 1.4rem; text-align: center;">
      <p>
        Merhaba,<br />
        Bize talebini iletmek için <a target="_blank" href="{{url}}">bu linkteki</a> formu doldurabilirsin.
      </p>
      <p style="font-style: italic;">Eğer linke tıklayamıyorsanız aşağıdaki linki kopyalayabilirsiniz.</p>
      <a target="_blank" href="{{url}}">{{url}}</a>
    </div>
  </main>
</body>