<body >
  {{> header}}

  <main style="font-size: 1.4rem; text-align: center;">
    <div>
      <p>Merhaba {{name}},<br />Şifreni sıfırlamak için bu kodu kullanabilirsin:</p>
      <span
        style="font-size: 1.8rem; background-color: rgb(24, 106, 24); color: white; padding: 10px; border-radius: 1rem;">
        <strong>{{code}}</strong>
      </span>
    </div>
  </main>
</body>