<body>
  {{> header}}

  <main style="font-size: 1.4rem; text-align: center;">
    <div>
      <p>
        Merhaba {{name}}, Aramıza Hoşgeldin :)<br /><br />
        Sisteme giriş yapabilmek için bu şifreyi kullanabilirsin: <br /> <strong
          style="color: blue;">{{password}}</strong>
      </p>
      <p style="font-style: italic; font-weight: lighter; font-size: 1rem;">
        Sisteme giriş yaptıktan sonra şifreni değiştirmen önerilir
      </p>
    </div>
  </main>
</body>